.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
}
.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}
#card-index {
    height: 10em;
    object-fit: cover;
}
 .mt-x{
     margin-top: 100px;
 }